footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #3b3f51;
}

.navbar {
  min-height: 54px;
  height: 54px;
}

.navbar-default .navbar-brand {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 700;
}

.custom-badge {
  padding:3px 6px 5px;
  display: inline-block;
  min-width: 35px;
  border-radius: 10px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #fff;
}

.danger-badge {
  border: 1px solid #ff3b30;
  color: #ff3b30;
}
.warning-badge {
  border: 1px solid #fc0;
  color: #fc0;
}
.success-badge {
  border: 1px solid #4cd964;
  color: #4cd964;
}
